<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Scrabble Word</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action='/word_score'>
      <div class='form-group'>
        <label for='word01'>Your word</label>
        <input id='word01' name='word01' class='form-control' type='text'>
        <label for='word02'>Your word</label>
        <input id='word02' name='word02' class='form-control' type='text'>
        <label for='word03'>Your word</label>
        <input id='word03' name='word03' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn btn-success'>Get Score!</button>
    </form>
  </body>
</html>
